body {
    font-family: sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
}

.wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 4px;
    width: 220px;
    margin: 0 auto;
    gap: 4px;
}

h1 {
    margin: 0 0 4px;
    color: #333;
}

#currentScaleDisplay {
    color: #333;
    width: 90%;
    background-color: rgba(0, 0, 0, 0.19);
    padding: 4px 8px;
    text-align: center;
    justify-content: center;
    font-size: 1.1em;
}

.step-control {
    display: flex;
    align-items: center;
    gap: 4px;
    width: 100%;
    margin-top: 8px;
}

.step-control sp-button {
    flex: 0 0 auto;
    width: 32px;
}

.step-control sp-textfield {
    flex: 1;
}

footer {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding-top: 6px;
    margin-top: 4px;
    border-top: 1px solid #eee;
    gap: 4px;
}

@media (prefers-color-scheme: dark), (prefers-color-scheme: darkest) {
    label {
      color: #E0E0E0;
    }
}
